<header class="ni-header">
  <div class="ni-container ni-flex ni-itms-cntr ni-justify-btwn">
    <button class="ni-header__menu-trigger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="ni-header__logo ni-flex ni-itms-cntr">
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'ni-header__logo-img',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </div>

    <div class="ni-header__right ni-flex ni-itms-cntr">
         <nav class="ni-nav ni-header__nav" aria-label="Main Navigation">
        <ul class="ni-nav__menu ni-flex">
          {% for link in linklists[section.settings.menu].links %}
            {% assign child_list_handle = link.title | handleize %}
            <li class="ni-nav__item {% if link.links.size > 0 %}ni-submenu-wrap{% endif %}">
              <a href="{{ link.url }}" class="ni-nav__link {% if link.links.size > 0 %}ni-submenu-trigger{% endif %}">
                {{ link.title }}
              </a>

              {% if link.links.size > 0 %}
                <ul class="ni-nav__sub-menu">
                  {% for childlink in link.links %}
                    <li class="ni-nav__sub-item {% if childlink.links.size > 0 %}ni-nested-submenu-wrap{% endif %}">
                      <a href="{{ childlink.url }}" class="ni-nav__sub-link">
                        {{ childlink.title }}
                      </a>

                      {% if childlink.links.size > 0 %}
                        <ul class="ni-nav__sub-menu">
                          {% for grandchildlink in childlink.links %}
                            <li class="ni-nav__sub-item">
                              <a href="{{ grandchildlink.url }}" class="ni-nav__sub-link">
                                {{ grandchildlink.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <div class="ni-header__actions ni-flex ni-itms-cntr">
        <a href="" class="ni-header__cart" aria-label="Shopping Cart">
          <span class="ni-header__cart-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
              height="20px"
              width="20px"
              fill="#333333"
            >
              <path
                d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
              />
            </svg>
          </span>
          <span class="ni-header__cart-count">0</span>
        </a>

        <a href="" class="ni-btn ni-btn--primary">GET A QUOTE</a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
